@model IEnumerable<Brand>
@{
}
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model)
                {
                    <a asp-controller="Brands" asp-action="Index" asp-route-id="@item.Id">
                        <img src="/Img/Brands/@item.Logo" alt="@item.Name" title="@item.Name" style="width:70px; height:60px"/>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
