 <!-- Topbar Start -->
<div class="container-fluid sticky-top">
    <div class="row bg-secondary py-1 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center h-100">
                <a class="text-body mr-3" href="/BizKimiz">Hakkımızda</a>
                <a class="text-body mr-3" href="/iletisim">İletişim</a>
                <a class="text-body mr-3" href="#">Yardım</a>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@User.Identity.Name </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item" type="button">Siparişlerim</a>
                            <a href="#" class="dropdown-item" type="button">Kullanıcı Bilgilerim</a>
                            @if (User.IsInRole("Admin"))
                            {
                                @*Eğer giriş yapan kişi Admin ise admin sayfasına gidiş linkini görecek*@
                                <a href="/Admin/Main" class="dropdown-item" type="button">Admin Sayfası</a>
                            }
                            <a href="/account/logout" class="dropdown-item" type="button">Çıkış Yap</a>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="#" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="#" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Giriş Yap </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/account/login" class="dropdown-item" type="button">Giriş Yap</a>
                            <a href="/account/register" class="dropdown-item" type="button">Üye Ol</a>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="#" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a href="#" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex ">
        <div class="col-lg-4">
            <a href="/" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Sarı</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Kedi</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form asp-controller="Products" asp-action="Search" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Hadi İstediğini Bulalım..." name="q" aria-describedby="btnNavbarSearch">
                    <div class="input-group-append">
                        <button class="input-group-text bg-transparent text-primary" type="submit" id="btnNavbarSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Müşteri Hizmetleri</p>
            <h5 class="m-0">+0212 212 1212</h5>
        </div>
    </div>
</div>
<!-- Topbar End -->