<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - ETicaret.WebUI</title>
    
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETicaret.WebUI.styles.css" asp-append-version="true" />
    <!-- Smooth Scroll-->
    <link rel="stylesheet" href="~/SmoothScroll/smoothScroll.css" />



    <!-- CUSTOM STYLES-->
    <link rel="stylesheet" href="~/admin/assets/css/custom.css"/>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <style>
        
    </style>
</head>
<body id="body" class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake img-circle" src="~/admin/dist/img/preloader.jpg" alt="DigitalArt" height="100" width="100">
        </div>

        <!-- Navbar -->
        <partial name="_TopNav" />
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <partial name="_SideNav" />
    </div>
    <section class="content">
        <div class="container-fluid ">
            <!-- Info boxes -->
            <div class="row d-block">
                <div class="content-wrapper">
                    <main role="main" class="pb-3 mx-3">
                        @RenderBody()
                        <a href="#body" id="backtotop">
                            <i class="fas fa-chevron-circle-up"></i>
                        </a>
                    </main>
                </div>
            </div>
        </div>
    </section>

    @*<div class="container-fluid content-wrapper">
    <main role="main" class="main- pb-3">
    @RenderBody()
    </main>
    </div>*@
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>&copy; 2023-∞ <a href="#">Ozan Ahmet DİNÇER</a>.</strong>
        Tüm Hakkı Saklıdır.
        <div class="float-right d-none d-sm-inline-block">
            <b>Ozan Ahmet DİNÇER</b>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>




    <!-- CUSTOM SCRIPTS -->
    <script src="~/admin/assets/js/custom.js"></script>


    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- overlayScrollbars -->
    <script src="~/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
