
@{  
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Biz Kimiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    
    <!-- AboutUs-->
    <link rel="stylesheet" href="~/AboutUs/AboutUs.css" />
</head>
<body>
    <section>
        <div class="image">
            <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
        </div>

        <div class="content">
            <h2>Biz Kimiz</h2>
            <span><!-- line here --></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>
            <ul class="links">
                <li><a href="#">Kariyer</a></li>
                <div class="vertical-line"></div>
                <li><a href="#">Destek</a></li>
                <div class="vertical-line"></div>
                <li><a href="/iletisim">İletişim</a></li>
            </ul>
            <ul class="icons">
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-pinterest"></i>
                </li>
            </ul>
        </div>
    </section>
    <div class="credit"><span style="color:yellow">Sarı</span> Kedi <span style="color:tomato">❤</span><a href="/">Hadi Gidelim</a></div>
</body>
</html>
