@{
    ViewData["Title"] = "Admin anasayfa";
}

<div id="page-inner">

    <!-- /. ROW  -->
    <div class="row">
        <div class="col-lg-12 ">
            <div class="alert alert-info">
                <strong>Welcome Jhon Doe ! </strong>
            </div>

        </div>

        <!-- /. ROW  -->
        <div class="row text-center pad-top">
            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6">
                <div class="div-square ">
                    <a href="/Admin/Brands">
                        <i class="fas fa-copy fa-5x"></i>
                        <h4>Marka Yönetimi</h4>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6">
                <div class="div-square">
                    <a href="/Admin/Sliders">
                        <i class="fas fa-sliders-h fa-5x"></i>
                        <h4>Slider Yönetimi</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6">
                <div class="div-square">
                    <a href="/Admin/Categories">
                        <i class="fas fa-list-ol fa-5x"></i>
                        <h4>Kategori Yönetimi</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6">
                <div class="div-square justify-content-center">
                    <a href="/Admin/Products">
                        <i class="fas fa-table fa-5x"></i>
                        <h4>Ürünler</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6 ">
                <div class="div-square">
                    <a href="/Admin/Contacts">
                        <i class="fas fa-edit fa-5x"></i>
                        <h4>İletişim Formu </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6">
                <div class="div-square">
                    <a href="/Admin/Users">
                        <i class="fas fa-user fa-5x"></i>
                        <h4>Kullanıcılar</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-offset-4 col-sm-6 col-xs-6">
                <div class="div-square">
                    <a href="/Admin/News">
                        <i class="fas fa-newspaper fa-5x"></i>
                        <h4>Haberler</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    


</div>